#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ToastViewport {
    --viewport-padding: 25px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: var(--viewport-padding);
    gap: 10px;
    width: 390px;
    max-width: 100vw;
    margin: 0;
    list-style: none;
    z-index: 2147483647;
    outline: none;
}

.ToastRoot {
    background-color: var(--accent-2);
    border-color: var(--accent-3);
    border-width: 1px;
    border-style: solid;
    border-radius: var(--radius-2);
    padding: 8px;
    display: grid;
    grid-template-areas: "icon title close" ". description ." ". action .";
    grid-template-columns: 40px auto 16px;
    grid-template-rows: 20px auto auto;
    column-gap: 6px;
    row-gap: 12px;
    max-width: 400px;
    margin-top: 10px;
}

.ToastIcon {
    grid-area: icon;
    height: 24px;
    width: 24px;
    justify-self: center;
    align-self: center;
}

.ToastClose {
    grid-area: close;
    justify-self: center;
    align-self: center;
    background: none;
    font-family: inherit;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ToastClose:hover {
    color: var(--accent-12);
}

.ToastTitle {
    grid-area: title;
    justify-self: start;
    align-self: center;
}


.ToastDescription {
    grid-area: description;
    justify-self: start;
    align-self: center;
}

.ToastActions {
    grid-area: action;
    justify-self: start;
    align-self: center;
}

.ToastAction {
    background: var(--accent-9);
    color: var(--accent-contrast);
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-2);
    border-radius: var(--radius-2);
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    padding-top: 0;
    padding-bottom: 0;
    height: var(--space-6);
    cursor: var(--cursor-button);
}

.ToastAction:hover {
    background-color: var(--accent-10);
}